:root {
  --text-color: rgb(23, 23, 23);
  --tip-color: #ef233c;
  --border-color: #d4d9d9;
  --input-bg: #eaf4f4;
  --outline-color: #5e60ce;
  --btn-bg-color: #56cfe1;
  --btn-bg-color-hover: #5ed7e6;
  --background-color: #5390d9;
}

.input {
  width: 100%;
  height: 50px;
}

.inputs > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputs > div > input {
  flex: 3;
  margin: 0px 10px;
  border-radius: 10px;
  border-color: var(--border-color);
  border-width: 1px;
  height: 30px;
  padding: 15px 10px;
  font-size: 15px;
}

.inputs > .password-confirm {
  margin-bottom: 20px;
}

.inputs > div > input:focus {
  outline-color: var(--outline-color);
}

.tip {
  color: var(--tip-color);
  font-size: 10px;
  margin: 0px 13px;
}

.submit {
  width: 100%;
  height: 50px;
  margin: 15px 0px;
}

.submit > button {
  width: 60%;
  height: 100%;
  background-color: var(--btn-bg-color);
  color: var(--text-color);
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 1);
  border: none;
}

.submit > button:hover {
  background-color: var(--btn-bg-color-hover);
  transform: scale(1.05);
  cursor: pointer;
}

.submit > button:active {
  transform: scale(0.989);
}
