/* Shared */

:root {
  --link-color: #5e60ce;
  --background-color: #5390d9;
  --text-color: rgb(23, 23, 23);
  --input-bg: #eaf4f4;
  --h2h3-color: rgb(63, 63, 63);
}

body {
  background: url(../../assets/subtle-prism.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

h3, h2 {
  font-size: 15px;
  color: var(--h2h3-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Profile */

.profile {
  align-self: center;
  margin: 20px 0px 5px;
}

.profile > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--background-color);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 1);
}


/* Sing up */

.sing-in, .sing-up {
  display: flex;
  flex-direction: column;
  background: var(--input-bg);
  padding: 10px;
  width: 500px;
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.sing-in > .title, .sing-up > .title {
  flex-direction: column;
  margin: 20px 0px;
}

.sing-in > .title > h1, .sing-up > .title > h1  {
  font-size: 35px;
  margin-bottom: 10px;
}

/* If someone have account */

.have-account {
  margin: 5px 0px;
}

/* Forgot password */

.password-reset > h3 {
  margin: 5px 0px;
}

/* If someone have account */

.no-account {
  margin: 5px 0px;
}


