section#example-offers > .title {
  margin: 0 0 5vh;
}

section#example-offers > .title > h1 {
  font-size: 35px;
  color: rgb(23, 23, 23);
}

section#example-offers > .offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 6vh;
}

section#example-offers > .offers > .offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 50vh;
  padding: 20px;
}

section#example-offers > .offers > .offer > .title {
  flex: 1;
  width: 100%;
}

section#example-offers > .offers > .offer > .description {
  flex: 1;
}

section#example-offers > .offers > .offer > .description > p {
  font-size: 16px;
}

section#example-offers > .offers > .offer > .buying {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
