:root {
  --link-color: rgb(242, 242, 242);
  --bg-color: #333;
}

footer {
  background-color: var(--bg-color);
  padding: 20px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

footer > .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

footer > .container > .left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
  
footer > .container > .left-side > a > img {
  width: 30px;
  height: 30px;
}

footer > .container > .left-side > a > img:hover {
  transform: scale(1.1);
}

footer > .container > .left-side > a > img:active {
  transform: scale(0.99);
}

footer > .container > .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
  
footer > .container > .right-side > .footer-links > a {
  color: var(--link-color);
  text-decoration: none;
}

footer > .container > .right-side > .copyright > p {
  color: var(--link-color);
}

footer > .container >  .right-side > .copyright {
  text-align: center;
  margin-top: 10px;
}
  