:root {
  --first-color: #7400b8;
  --second-color: #5e60ce;
  --text-color: rgb(23, 23, 23);
  --background-color: linear-gradient(
    20deg,
    rgba(36, 89, 153, 1) 0%,
    rgba(83, 144, 217, 1) 60%,
    rgba(115, 173, 242, 1) 100%
  );
  --nav-bg-color: rgb(0, 0, 0, 0.5);
  --nav-text-color: #ebebeb;
  --desc-bg: #eaf4f4;
  --thrid-color: #6930c3;
  --fourth-color: #4ea8de;
  --fifth-color: #48bfe3;
  --sixth-color: #56cfe1;
  --seventh-color: #64dfdf;
  --eighth-color: #72efdd;
}

main > .intro {
  flex-direction: row;
  margin: 20px 0px;
}

/* Picture */

main > .intro > .picture {
  width: 50%;
  height: 100%;
  flex-direction: column;
}

main > .intro > .picture > img {
  width: 80%;
}

/* Description */

main > .intro > .description {
  display: flex;
  width: 50%;
  padding: 25px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--desc-bg);
}

main > .intro > .description > .title {
  display: flex;
  margin: 20px 0px;
}

main > .intro > .description > .title > h1 {
  font-size: 35px;
}

main > .intro > .description > .par {
  display: flex;
}

main > .intro > .description > .par > p {
  font-size: 20px;
}
