body {
  background: url(../../assets/subtle-prism.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  padding: 20px 10%;
}

