:root {
  --nav-bg-color: rgb(0, 0, 0, 0.7);
  --nav-text-color: #ebebeb;
  --bg-color: #72efdd;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg-color);
  padding: 0px 20%;
  height: 8vh;
  width: 100vw;
  top: 0;
  z-index: 2;
}

nav > .logo {
  width: 100px;
}

nav > .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 1.5vw;
}

nav > .options > a {
  text-decoration: none;
  color: var(--nav-text-color);
}

nav > .options > a:hover {
  transform: scale(1.1);
}

nav > .options > a:active {
  transform: scale(0.99);
}

nav > .options > button {
  background: var(--bg-color);
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}

nav > .options > button:hover {
  transform: scale(1.1);
}

nav > .options > button:active {
  transform: scale(0.99);
}
