:root {
    --first-color: #7400B8;
    --second-color: #5E60CE;
    --background-color: #5390D9;
    --thrid-color: #6930C3;
    --fourth-color: #4EA8DE;
    --fifth-color: #48BFE3;
    --sixth-color: #56CFE1;
    --seventh-color: #64DFDF;
    --eighth-color: #72EFDD;
    --ninth-color: #80FFDB;
    --text-color: rgb(23, 23, 23);
    --tip-color: #ef233c;
    --input-bg: #eaf4f4;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: var(--background-color);
    justify-content: center;
    align-items: center;

}

/* Profile */

.profile {
    align-self: center;
    margin: 20px 0px 5px;
}

.profile > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 1);
}

/* Sing up */

.sing-up {
    display: flex;
    flex-direction: column;
    background: var(--input-bg);
    padding: 10px;
    width: 500px;
    box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 1);
    border-radius: 10px;  
}

.sing-up > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.sing-up > .title > h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.sing-up > .title > h2 {
    font-size: 15px;
    color:rgb(63, 63, 63)
}

/* Inputs */

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.inputs > div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputs > div > input {
    flex: 3;
    margin: 0px 10px;
    border-radius: 10px;
    border-color: #d4d9d9;
    border-width: 1px;
    height: 30px;
    padding: 15px 10px;
}

.inputs > div > input:focus {
    outline-color: var(--second-color);
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 10px 0px;
}

.submit > button {
    width: 100%;
    height: 100%;
    background-color: var(--sixth-color);
    color: var(--text-color);
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 1);
    border: none;
}

.submit > button:hover {
    background-color: var(--fourth-color);
    cursor: pointer;
}

.submit > button:active {
    transform: scale(0.989);
}

/* Terms and privacy */

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.terms > h3 {
    font-size: 15px;
    color: rgb(63, 63, 63);
    margin: 5px 0px;
}

.terms > a {
    text-decoration: none;
    color: var(--second-color);
}

/* Forgot password */
.password-reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-reset > h3 {
    font-size: 15px;
    color: rgb(63, 63, 63);
    margin: 5px 0px;
}

/* If someone have account */

.no-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.no-account > h3 {
    font-size: 15px;
    color: rgb(63, 63, 63);
}

.no-account > a {
    color: var(--second-color);
    text-decoration: none;
}