@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Merriweather&family=Oswald&display=swap");

/* BODY */

:root {
  --heading-font: "Merriweather", serif;
  --body-font: "Libre Franklin", sans-serif;
  --info-font: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXT */

.heading-text {
  font-family: var(--heading-font);
  font-weight: 700;
}

.info-text {
  font-family: var(--body-font);
  font-weight: 700;
}

.body-text {
  font-family: var(--body-font);
  font-weight: 400;
}

.box {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 0px 36px 0px rgba(66, 68, 90, 1);
}

.section-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10vh 0;
} 
